@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
}

.hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(#e8e6e1, #5e5e59);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box{
    width: 380px;
    height: 420px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}
.button-box{
    width: 230px;
    margin: 35px auto;
    position: relative;
    border-radius: 30px;
    box-shadow: 0 0 20px 9px #5d28d81f;
    font-size: 13px;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #8fd9ec, #088178);
    border-radius: 30px;
    transition: 0.5s;
}

.social-icons{
    margin: 30px auto;
    text-align: center;
    
}

.social-icons i{
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f;
    border-radius: 20%;
    color: #088178;
}

.social-icons i:hover{
    box-shadow: 0 0 30px 0 #088178;
}

.input-group{
    top: 5px;
    position: absolute;
    width: 100px;
    transition: 0.5s;
    margin: 20px 30px;
    padding: auto;
    border-radius: 50px;
    font-size: 15px;
}

.input-field{
    width: 80%;
    padding: 10px 0; 
    margin: 5px 5px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}



.submit-btn{
    width: 80%;
    padding: 10px 70px;
    cursor: pointer;
    display: block;
    margin: 20px;
    background: linear-gradient(to right, #8fd9ec, #088178);
    border: 0;
    outline: none;
    /* border-radius: 50px; */
    /* border-top-left-radius: 50px;
    border-bottom-left-radius: 50px; */
}

.check-box{
    margin: 50px 10px 30px 10px;
    padding: 20px;
}
span{
    color: #777;
    font-size: 12px;
    bottom: 78px;
    position:absolute;
}
#login{
    left: 0px;
}
#register{
    left: 0px;
    top: 100px;
}