@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

#logo{
    width: 100%;
    height: 80px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}
h1{
    line-height: 64px;
    font-size: 50px;
    color: #222;
}
h2{
    line-height: 54px;
    font-size: 46px;
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;
}
h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

body{
    width: 100%;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
    z-index: 999;
    position: sticky;
    top:0;
    left: 0;
}

#navbar{
    display: flex; 
    align-items: center;
    justify-content: center;
    
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position:relative;
    justify-content: flex-end;
    
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,#navbar li a.active{
    color: #088178;
}

#navbar li a.active::after, #navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#hero{
    background-image: url("img/hero5.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
}
#hero h1{
    padding-bottom: 15px;
    color: #088178
}

#hero button{
    background-image: url("img/button.png");
    background-color: transparent;
    background-repeat: no-repeat;
    color: #afe4e0;
    background-size: 150px 60px;
    border: 0;
    height: 60px;
    width: 150px;
    padding: 14px 30px 14px 25px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


#feature .fe-box{
    width: 140px;
    height: 160px;
    text-align: center;
    padding: 20px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.09);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 5px 0;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70,62,221,0.1);
    
}
#feature .fe-box img{
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: rgb(237, 204, 144);
    transition: 0.5s ease-in-out;
    text-align: center;
    font-size:smaller;
}

#feature .fe-box h6:hover{
    background-color: rgb(160, 225, 243);
}

#product1{
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
    flex-direction:row;
}

#product1 .pro{
    width: 23%;
    min-height: 250px;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
}

#product1 .pro img{
    width: 100%;
    min-height: 140px;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 50;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/banner/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

#banner h4{
    color: #fff;
    font-size: 16px;
}

#banner h2{
    color: rgb(38, 5, 49);
    font-size: 30px;
}

#banner h2 span{
    color: rgb(186, 25, 25);
    font-size: 30px;
}

#banner button:hover{
    background-color: #088178;
    color: #fff;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    background-image: url("img/banner/b1.jpg");
    /* min-width: 520px; */
    width: fit-content;
    height: 50vh;
    background-size: cover;
    background-position: center;
    
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}
#sm-banner h2{
    color: #fff;
    font-size: 28px;
    font-weight: 800;
  }

  #sm-banner span{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
  }

  #sm-banner .banner-box:hover button{
    background: #088178;
    border: 1px #088178 solid;
  }

  #sm-banner .banner-box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    background-image: url("img/banner/b3.jpg");
    /* min-width: 520px; */
    height: 50vh;
    background-size: cover;
    background-position: center;
    
}

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    /* background-image: url("img/banner/b4.png"); */
    color: #fff;
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}
#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}
#newsletter p span{
    color: #ffbd27;
    
}

#newsletter form{
    display: flex;
    width: 40%;
}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 12px;
    border: 1px solid transparent;
    border-radius:none;   
    outline: none; 
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button {
    background-color: #088178;
    color: #fff;
    white-space: normal;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;   
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    
}

/* display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */

footer .col, .col1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-top: 20px;
    
}

footer .col1{
    margin-right: 30px;
}

footer .col .row .app{
    height: 30px;
    width: auto;
}

footer .col .pay{
    height: 30px;
    width: 160px;
}

footer .logo{
    /* margin-bottom: 30px; */
    margin-top: -50px;
    width: 50px;
    height: 50px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 10px;
    
}
footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;

}

footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover, footer a:hover {
    color: #088178;
}

footer .copyright{
    width: 100%;
    text-align: center;
}